@charset "UTF-8";
/*small reset*/
body, ul, ol, li, p, h1,h2, h3, h4, h5, h6, form, blockquote, dl, dd, dt{
    margin:0;
    padding:0;
}

a {text-decoration: none;}

body{
    font: normal 12px Arial, Helvetice, Verdana, sans-serif;/**/
    line-height:1.7em;
    color:#666;
    -webkit-text-size-adjust:none;
    width:450px;/*730*/
    margin:0 auto;
    padding-top: 60px;
}

.clear {clear:both;width:0;height:0}






.entry{
    margin-bottom: 130px;
    border-radius: 5px;
}



.entry .title_container{
    text-align: left;
    font-weight: bold;
    margin:15px 0 35px 0;
    font-size: 12px;
}
.entry .title_container a{
    color: #333;
}

.entry .title_container a:hover{
    color:#222;
}

.entry .title{
    padding-right: 20px;
}

.entry .category{
    display: inline;
}

.entry .category a{
    color:#666;
}

.entry .category a:hover{
    text-decoration: underline;
}



.entry .content{
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
    overflow: hidden;
}


.entry .cover{
    margin-bottom: 20px;
}

.entry img{
    max-width:100%;
    text-indent: 0;
}

.entry .content p{
    padding-bottom:15px;
    position:relative;
    line-height:2.2;
    font-size: 14px;

}


.entry .title{
    margin-top: 30px;
    text-align: right;
    font-size: 14px;
    margin-right: -35px;
}


.pager{
    width:480px;
    font-family: Helvetice;
}

.pager a{
    color: #fcfcfc;
    font-size: 72px;
    line-height: 2.2;
    text-align: center;
    padding: 0 10px;
}

.pager a:hover{
    color:#fff;
    background: #bfbfbf;
    border-radius: 3px;
}

.pager .next{

    right:10px;
    position: fixed;
    top:40%;
}

.pager .pre{
    left:10px;
    position: fixed;
    top:40%;
}



.powered_by{
    margin-top: 100px;
    margin-bottom: 20px;
    text-align: center;
}
.powered_by a{
    color:#666;
    font-size:10px;
    margin-right: 15px;
}
.powered_by a:hover{
    color:#E60900;
}

