{% if folder %}
    {{ bread_nav(folder.path, '/folder/') }}
{% endif %}

{% set by_mobile = is_mobile() or detect_device('ipad') %}
{% if by_mobile %}
    <link href="http://resource.farbox.com/photoswipe/photoswipe.css" type="text/css" rel="stylesheet" />

	<script type="text/javascript" src="http://resource.farbox.com/photoswipe/code.photoswipe-3.0.5.min.js"></script>

    <script type="text/javascript">
		(function(window, PhotoSwipe){
			document.addEventListener('DOMContentLoaded', function(){
				var
					options = {},
					instance = PhotoSwipe.attach( window.document.querySelectorAll('#image_list li.image a'), options );

			}, false);
		}(window, window.Code.PhotoSwipe));
	</script>
{% endif %}


<div id="images_container">

<ul class="image_list" id="image_list">
{% for file in files %}
    {% if file.content_type == 'folder' %}
    <li class="folder">
        <a href="/file/{{file.path}}">
            <img src='{{ file.url }}?width=320&height=214&fixed=true' title="{{ file.title }}, {{ file.images_count }} photos in it." />
            <span>{{ file.title }} <small>({{ file.images_count }})</small></span>
        </a>
    </li>
    {% else %}
        <li class="image">
        <a href="{% if by_mobile %}{{ file.url }}{% else %}/file/{{file.path}}{% endif %}">
            <img src='{{ file.url }}?width=320&height=214&fixed=true' title="{{ file.title }}" />
        </a>
    </li>
    {% endif %}
{% endfor %}
</ul>

{% include 'include/paginator.html' %}


<script type="text/javascript">

    function images_auto_margin(){
        var images_e = document.getElementById('image_list');
        images_e.style.marginLeft = 0;
        var width = document.width || document.body.clientWidth;
        if (images_e && width > 330){
            images_e.style.marginLeft = ( width% 336) /2 + 'px';
        }
    }

    images_auto_margin();

    window.onresize = images_auto_margin;

</script>

</div>