<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel='alternate' type='application/rss+xml' title='atom 1.0' href='/feed' />
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="http://resource.farbox.com/css/default-template.css?version={{ resource_version }}">
    <link rel="stylesheet" href="http://resource.farbox.com/css/basic.css?version={{ resource_version }}">
</head>
<body>

<div id="header">
    <h1> <a href="/">{{ site.title or 'THIS IS MY SITE'}}</a></h1>

{% if has('posts') %}
    <ul id="nav">
        <li>
            <a href="/" {% block nav_index%} {% endblock %}>Home</a>
        </li>
        <li>
            <a href="/archive" {% block nav_archive %} {% endblock %}>Archive</a>
        </li>
        {%  if has('images') %}
        <li>
            <a href="/folder/" {% block nav_folder %} {% endblock %}>Photos</a>
        </li>
        {% endif %}

        {% if has('links.md') %}
        <li>
            <a href="/links.md"  {% if request.path == '/links.md' %}class="current"{% endif %}>Links</a>
        </li>
        {% endif %}

        {% if has('about.md') %}
        <li>
            <a href="/about.md"  {% if request.path == '/about.md' %}class="current"{% endif %}>About</a>
        </li>
        {% endif %}
    </ul>
{% endif %}

</div>

<div id="content">
    {% block content %}
    {% endblock %}
</div>


{% include 'include/footer.html' %}


</body>
</html>


