<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="http://resource.farbox.com/css/style.css?version={{ resource_version }}">
</head>
<body>


<div id="content">
    {% block content %}
    {% endblock %}
</div>



<div id="footer">

    <div class="powered_by">
        <a target='_blank' href="http://www.farbox.com">Proudly Powered By FarBox.com</a>
        <span>©2012-2015 Z.R.E.Y Inc.</span>
    </div>
</div>

</body>
</html>


